.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.cardContent {
    list-style: none;
    /* border: 1px solid white; */
    padding: 1.5rem;
    height: 230px;
    width: 230px;
    border-radius: 8px;
}